
Day2/out/

Day2/.idea/

*.iml

Day3/atmaven/.idea/

Day3/atmaven/build/

Day3/atmaven/target/

Day3/atmaven/test-output/

Day3/atmaven/pom.xml

*.xml

Day3/atmaven/src/main/java/ru/technoserv/atmaven/

Day5/atmaven/target/

Day5/atmaven/build/

Day5/atmaven/.idea/

Day5/atmaven/src/main/

Day5/atmaven/src/test/java/ru/technoserv/atmaven/tests/my/

Day5/atmaven/src/test/java/ru/technoserv/atmaven/tests/pages/

Day5/atmaven/src/test/java/ru/technoserv/atmaven/tests/CDF/
